extends ../../templates/default
block vars
	-
		title = "Спасибо"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	body.load-prelouder.loaded
		<!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6QQ5RM"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
		.wrap.--page
			+style('header', 'blocks')
			- toMain = true
			include ../../../blocks/header/header
			main.main
				.prelouder
					.prelouder__logo
						.prelouder__logo-wrap
							<svg width="128" height="115" viewBox="0 0 128 115" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M59.4838 1.24845H67.0819C67.4052 1.24845 68.3752 1.19456 69.9918 1.08679C71.7161 0.979018 73.8716 0.925132 76.4582 0.925132C79.0447 0.81736 81.5774 0.763474 84.0562 0.763474C84.3795 0.763474 84.6489 0.925132 84.8645 1.24845C84.7567 1.57177 84.4873 1.78732 84.0562 1.89509C80.0686 1.89509 77.2665 2.11064 75.6499 2.54173C74.0333 2.86506 72.5783 3.83502 71.285 5.45162C69.3451 7.82263 68.3752 14.4507 68.3752 25.3358V90.3232C68.3752 96.4663 68.5368 100.939 68.8601 103.741C69.2912 106.543 70.0995 108.752 71.285 110.369C72.5783 111.878 74.0333 112.848 75.6499 113.279C77.2665 113.602 80.0686 113.764 84.0562 113.764C84.3795 113.764 84.6489 113.926 84.8645 114.249C84.7567 114.572 84.4873 114.788 84.0562 114.896C81.5774 114.896 79.0447 114.842 76.4582 114.734C73.8716 114.734 71.7161 114.68 69.9918 114.572C68.3752 114.464 67.4052 114.411 67.0819 114.411H59.4838L53.5024 114.734C49.407 114.842 45.6888 114.896 42.3479 114.896C42.0245 114.896 41.7551 114.734 41.5396 114.411C41.6473 114.087 41.9168 113.872 42.3479 113.764C46.3355 113.764 49.1376 113.602 50.7542 113.279C52.4786 112.848 53.9335 111.878 55.119 110.369C56.4123 108.752 57.2206 106.597 57.5439 103.903C57.975 101.101 58.1906 96.5741 58.1906 90.3232V25.3358C58.1906 19.085 57.975 14.6124 57.5439 11.918C57.2206 9.11591 56.4123 6.96044 55.119 5.45162C53.9335 3.83502 52.4786 2.86506 50.7542 2.54173C49.1376 2.11064 46.3355 1.89509 42.3479 1.89509C42.0245 1.89509 41.7551 1.73343 41.5396 1.41011C41.6473 1.08679 41.9168 0.871246 42.3479 0.763474C45.6888 0.763474 49.407 0.81736 53.5024 0.925132L59.4838 1.24845Z" fill="white"/><path d="M126.431 0.763474C126.862 0.763474 127.078 0.925132 127.078 1.24845C126.97 1.57177 126.755 1.78732 126.431 1.89509C120.719 1.89509 116.355 3.8889 113.337 7.87652C110.427 11.8641 108.972 17.4684 108.972 24.6892V114.249C108.972 114.572 108.81 114.734 108.487 114.734C108.164 114.842 107.894 114.734 107.679 114.411L20.544 14.3429V88.06C20.544 96.2507 22.0528 102.609 25.0704 107.136C28.1959 111.555 32.7762 113.764 38.8116 113.764C39.3504 113.764 39.566 113.979 39.4582 114.411C39.3504 114.734 39.1349 114.896 38.8116 114.896C36.3328 114.896 32.399 114.788 27.0104 114.572C24.316 114.464 21.8911 114.411 19.7357 114.411C17.688 114.411 15.3169 114.464 12.6226 114.572C7.23394 114.788 3.46186 114.896 1.30639 114.896C0.767528 114.896 0.551983 114.68 0.659756 114.249C0.767529 113.926 0.983075 113.764 1.30639 113.764C7.01839 113.764 11.3832 111.77 14.4009 107.783C17.4185 103.687 18.9274 98.0829 18.9274 90.9699V29.8623C18.9274 20.3782 18.3346 13.373 17.1491 8.84647C16.0714 5.82882 14.5625 3.99667 12.6226 3.35003C10.7905 2.59562 7.50337 2.16453 2.76134 2.05675C2.43802 2.05675 2.16858 1.94898 1.95304 1.73343C1.84526 1.41011 1.84526 1.14068 1.95304 0.925132C2.16858 0.709582 2.43802 0.601807 2.76134 0.601807C6.21009 0.601807 9.98216 0.709582 14.0775 0.925132L20.2206 1.24845H22.8072L107.355 99.5378V27.5991C107.355 19.4083 105.793 13.1035 102.667 8.68482C99.6497 4.15833 95.1232 1.89509 89.0879 1.89509C88.6568 1.89509 88.4412 1.73343 88.4412 1.41011C88.549 1.08679 88.7645 0.871246 89.0879 0.763474C91.4589 0.763474 95.3387 0.871246 100.727 1.08679C103.422 1.19456 105.901 1.24845 108.164 1.24845C110.211 1.24845 112.529 1.19456 115.115 1.08679C120.504 0.871246 124.276 0.763474 126.431 0.763474Z" fill="white"/></svg>
						.prelouder__logo-rounds
							.prelouder__logo-round
								.prelouder__logo-dot
								<svg width="156" height="168" viewBox="0 0 156 168" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M101.249 3.40811C101.183 3.71911 100.877 3.91764 100.566 3.85153C85.7821 0.70907 70.4169 1.71616 56.1694 6.76146C41.922 11.8068 29.3472 20.6937 19.8354 32.4398C10.3236 44.186 4.24524 58.3336 2.27241 73.3188C0.299586 88.3039 2.50912 103.543 8.65671 117.35C14.8043 131.158 24.6505 142.997 37.1067 151.558C49.5629 160.119 64.1438 165.068 79.2376 165.859C94.3313 166.65 109.35 163.252 122.633 156.04C135.915 148.828 146.945 138.083 154.502 124.994C154.661 124.718 155.013 124.624 155.289 124.783C155.564 124.942 155.658 125.294 155.499 125.57C147.836 138.843 136.651 149.739 123.182 157.052C109.713 164.365 94.4831 167.811 79.1773 167.009C63.8715 166.207 49.0857 161.188 36.4545 152.507C23.8233 143.825 13.8388 131.82 7.60486 117.819C1.3709 103.817 -0.869665 88.3641 1.13088 73.1685C3.13142 57.9728 9.29514 43.6264 18.9406 31.7153C28.586 19.8041 41.3375 10.7923 55.7851 5.67611C70.2327 0.559931 85.8138 -0.461307 100.806 2.72531C101.117 2.79141 101.315 3.09711 101.249 3.40811Z" fill="white"/></svg>
							.prelouder__logo-round
								.prelouder__logo-dot
								<svg width="156" height="167" viewBox="0 0 156 167" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M54.749 164.092C54.8151 163.781 55.1208 163.582 55.4318 163.648C70.2159 166.791 85.5811 165.784 99.8286 160.739C114.076 155.693 126.651 146.806 136.163 135.06C145.674 123.314 151.753 109.166 153.726 94.1812C155.698 79.1961 153.489 63.9573 147.341 50.1496C141.194 36.3419 131.348 24.5031 118.891 15.9422C106.435 7.38134 91.8542 2.43176 76.7605 1.64074C61.6668 0.849706 46.6483 4.24803 33.3655 11.46C20.0827 18.672 9.05297 29.4167 1.49576 42.5061C1.33678 42.7815 0.984705 42.8758 0.709355 42.7169C0.434004 42.5579 0.339657 42.2058 0.498631 41.9305C8.16201 28.6571 19.3467 17.7615 32.8161 10.4482C46.2855 3.13485 61.515 -0.311204 76.8208 0.490934C92.1265 1.29307 106.912 6.31218 119.544 14.9934C132.175 23.6745 142.159 35.6796 148.393 49.6813C154.627 63.683 156.868 79.1359 154.867 94.3315C152.867 109.527 146.703 123.874 137.057 135.785C127.412 147.696 114.661 156.708 100.213 161.824C85.7653 166.94 70.1842 167.961 55.1924 164.775C54.8814 164.709 54.6829 164.403 54.749 164.092Z" fill="white"/></svg>
					.prelouder__img
						img(src="uploads/prelouder.jpg" alt="")
				.inner
					.thanks
						.case
							.thanks__inner
								.thanks__desc.h3 Спасибо
								.thanks__title.h2 Ваша заявка <br>принята
								.thanks__text-top.t1 Для доступа к презентации нажмите здесь
								a.thanks__btn.btn.--md.--bg-black(href="uploads/presentation.pdf" target="_blank")
									.btn__inner Скачать презентацию
									.btn__shape
									.btn__shape
								.thanks__text-bot.t1 Если возникли вопросы напишите #[a(href="mailto:info@infinityvip.club или обратитесь в чат") Info@infinityvip.club] или обратитесь в чат

			+style('footer', 'blocks')
			include ../../../blocks/footer/footer

			script(src="template/js/common.js" + version)
			<script type="text/javascript">var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();(function(){var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];s1.async=true;s1.src='https://embed.tawk.to/61486382d326717cb6825eeb/1fg1c9dks';s1.charset='UTF-8';s1.setAttribute('crossorigin','*');s0.parentNode.insertBefore(s1,s0);})();</script>
			<script language="javascript" src= "https://infinityvip.e-autopay.com/hit.js"></script>
			<link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
			<script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?wcb_code=145bea8a5921ab8790cf09fab6f7277e" charset="UTF-8" async></script>
