include ../../pug/vars

footer.footer
	.footer__win.win
		.case
			.win__wrap
				.win__title.h2 В мире происходит коллапс,  катастрофы, кризисы, пандемии, только объединившись, <br>МЫ победим.
				.win__text.t1 Если ты хочешь быть такой же успешной, как многие  члены нашего клуба, заполняй анкету и станем счастливыми вместе!
				.win__btn.btn.btn.--bg-white.--md.--round.--colors-reverse
					.btn__inner Вступить в клуб!
					.btn__shape
					.btn__shape

			.win__shapes
				.win__shape
				.win__shape

	.footer__body-wrap
		.case
			.footer__body.row
				.footer__logo.logo
					.logo__text
						.logo__title INFINITY
				.footer__inner.row
					.footer__col
						.footer__title Звоните
						.footer__text
							p GB #[a(href="tel:+442045770896") +4420 45770896]
							p RU #[a(href="tel:+74993227009") +7 499 3227009]
					.footer__col
						.footer__title пишите
						.footer__text
							p #[a(href="mailto:info@miratexhouse.com") info@miratexhouse.com]
					.footer__col
						.footer__title приезжайте
						.footer__text
							p Miratex House OU
							p Registry code 14940959
							p Address: Sepapaja 6, Tallinn

	.footer__bot-wrap
		.case
			.footer__bot
				.footer__policy © Infinityclub. all rights reserved
				.footer__links
					ul
						li
							a(href="") Disclaimer
						li
							a(href="") Investments risks
						li
							a(href="") general loam tearms
						li
							a(href="") risk warning
						li
							a(href="") terms of use

.cursor