@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lovelace";
  src: url("../fonts/Lovelace/Lovelace-Regular.eot");
  src: local("Lovelace Regular"), local("Lovelace-Regular"), url("../fonts/Lovelace/Lovelace-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lovelace/Lovelace-Regular.woff2") format("woff2"), url("../fonts/Lovelace/Lovelace-Regular.woff") format("woff"), url("../fonts/Lovelace/Lovelace-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lovelace";
  src: url("../fonts/Lovelace/Lovelace-Medium.eot");
  src: local("Lovelace Medium"), local("Lovelace-Medium"), url("../fonts/Lovelace/Lovelace-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lovelace/Lovelace-Medium.woff2") format("woff2"), url("../fonts/Lovelace/Lovelace-Medium.woff") format("woff"), url("../fonts/Lovelace/Lovelace-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 1s;
  box-sizing: border-box;
  cursor: default;
}

html, body {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #121212;
  font-size: 14px;
  font-family: "HelveticaNeueCyr", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #121212;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

img, svg, path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.case {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1230px;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.left {
  margin-right: auto;
}

.mid {
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.load-prelouder {
  opacity: 1;
}

.loaded .prelouder {
  opacity: 0;
  visibility: hidden;
}
.loaded iframe {
  opacity: 1;
}
.loaded .inst-container {
  opacity: 1;
}
.loaded .wrap {
  background-color: transparent;
}

.prelouder {
  z-index: 1000005;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prelouder.--hide {
  opacity: 0;
}
.prelouder__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
  width: 428px;
  height: 428px;
  border-radius: 50%;
  background: rgba(19, 19, 19, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prelouder__logo-round {
  position: absolute;
}
.prelouder__logo-round:nth-of-type(1) {
  left: 60px;
  bottom: 90px;
}
.prelouder__logo-round:nth-of-type(1) .prelouder__logo-dot {
  border-radius: 50%;
  transform: rotate(-15deg);
  animation: 4s rotateDot1 0s infinite linear;
}
.prelouder__logo-round:nth-of-type(1) .prelouder__logo-dot:before {
  bottom: 7px;
  right: 7px;
}
.prelouder__logo-round:nth-of-type(2) {
  right: 60px;
  top: 90px;
}
.prelouder__logo-round:nth-of-type(2) .prelouder__logo-dot {
  border-radius: 50%;
  transform: rotate(230deg);
  animation: 4s rotateDot2 2s infinite linear;
}
.prelouder__logo-round:nth-of-type(2) .prelouder__logo-dot:before {
  left: 7px;
  top: 7px;
}
.prelouder__logo-dot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.prelouder__logo-dot:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}
.prelouder__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.prelouder__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes rotateDot1 {
  0% {
    opacity: 0;
    transform: rotate(-15deg);
  }
  2% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: rotate(230deg);
  }
}
@keyframes rotateDot2 {
  0% {
    opacity: 0;
    transform: rotate(230deg);
  }
  2% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: rotate(-15deg);
  }
}
.wrap {
  position: relative;
  z-index: 100000666666;
  background-color: #fff;
}
.wrap.--z-index {
  z-index: 1;
}
.wrap.--page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tal {
  text-align-last: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lovelace", serif;
}

.h0 {
  font-size: 228px;
  line-height: 1.2;
}

.h1 {
  font-size: 114px;
  line-height: 1;
}

.h2 {
  font-size: 64px;
  line-height: 1.1;
}

.h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
}

.h4 {
  font-size: 18px;
  font-weight: 500;
}

.t1 {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.t2 {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  background: #121212;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -2;
  transition: opacity 0.3s;
}
.cursor.--hidden {
  opacity: 0;
}

.wrap {
  overflow: hidden;
}

.btn {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: "HelveticaNeueCyr", sans-serif;
  background-color: transparent;
  transition: 0.3s !important;
}
.btn__inner {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
.btn__shape {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.btn__shape:nth-of-type(2) {
  z-index: -2;
  transition: 1s;
}
.btn__shape:nth-of-type(3) {
  z-index: -1;
  transition: 1s;
}
.btn.--bg-black .btn__inner {
  color: #fff;
  border: 1px solid #121212;
  background-color: #2B2B2B;
}
.btn.--bg-black .btn__inner:hover {
  color: #2B2B2B;
  background-color: #fff;
}
.btn.--bg-black .btn__shape:nth-of-type(2) {
  background-color: #121212;
}
.btn.--bg-black .btn__shape:nth-of-type(3) {
  border: 1px solid #E6E6E6;
}
.btn.--bg-white .btn__inner {
  color: #2B2B2B;
  background-color: #fff;
}
.btn.--bg-white .btn__inner:hover {
  color: #fff;
  background-color: #121212;
}
.btn.--bg-white .btn__shape:nth-of-type(2) {
  background-color: #121212;
}
.btn.--bg-white .btn__shape:nth-of-type(3) {
  border: 1px solid #2B2B2B;
}
.btn.--md {
  font-size: 16px;
  font-weight: 500;
}
.btn.--md .btn__inner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.btn.--md .btn__shape:nth-of-type(3) {
  width: 270px;
  height: 270px;
}
.btn.--colors-reverse .btn__shape:nth-of-type(2) {
  width: 4500px;
  height: 4500px;
}
.btn.--colors-reverse .btn__inner:hover + .btn__shape {
  width: 4500px;
  height: 4500px;
}
.btn.--colors-reverse .btn__inner:hover + .btn__shape + .btn__shape {
  border-color: #2B2B2B !important;
}
.btn.--colors-reverse .btn__inner:hover + .btn__shape {
  width: 0px;
  height: 0px;
}
.btn.--colors-reverse .btn__inner:hover + .btn__shape + .btn__shape {
  border-color: #E6E6E6 !important;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

u {
  display: inline;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__icon {
  margin-right: 8px;
}
.logo__text {
  text-transform: uppercase;
  padding-top: 2px;
}
.logo__title {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.065em;
  font-weight: 900;
}
.logo__desc {
  font-size: 10px;
  line-height: 1.115;
  letter-spacing: 0.03em;
  margin-top: 3px;
}

.socials__list {
  display: flex;
  align-items: center;
  margin-left: -8.5px;
  margin-right: -8.5px;
}
.socials__item {
  margin-left: 8.5px;
  margin-right: 8.5px;
}
.socials__item:hover {
  opacity: 0.4;
}

.header {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #fff;
  border-bottom: 1px solid #E6E6E6;
}
.header__ham {
  display: none;
}
.header .socials__item {
  cursor: pointer;
}
.header .socials__item * {
  cursor: pointer;
}
.header__wrap {
  align-items: center;
}
.header__socials {
  margin-left: auto;
}

.nav {
  display: none;
}

.intro {
  padding-top: 40px;
}
.intro .case:before {
  position: absolute;
  content: "";
  top: 317px;
  left: -690px;
  width: 1175px;
  height: 1175px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
}
.intro__wrap {
  position: relative;
  min-height: 600px;
}
.intro__content {
  z-index: 1;
  position: relative;
  width: calc(100% - 600px);
  padding-top: 77px;
}
.intro__title {
  margin-right: -300px;
  overflow: hidden;
}
.intro__title-inner {
  transition: 1.4s;
  transition-delay: 2s;
  transform: translateY(-100%);
}
.intro__title span {
  display: block;
}
.intro__title span:nth-of-type(3) {
  margin-left: 277px;
}
.intro__text {
  margin-top: 70px;
  max-width: 310px;
  overflow: hidden;
}
.intro__text-inner {
  transition: 1.4s;
  transition-delay: 2s;
  transform: translateY(-100%);
}
.intro__img {
  width: 600px;
  transition: 2s;
  height: 0;
  overflow: hidden;
}
.intro__img-wrap {
  width: 600px;
  height: 600px;
}
.intro__img-wrap img {
  transform: scale(1.2);
  transition: 2s;
}
.intro__round-text {
  opacity: 0;
  z-index: 3;
  position: absolute;
  right: 600px;
  bottom: 0;
  width: 172px;
  height: 172px;
  font-size: 24px;
  font-family: "Lovelace", serif;
  letter-spacing: 3px;
  transition: 2s;
  transition-delay: 1s;
  transform: translate(50%, 50%) rotate(0deg);
}
.intro__round-text svg {
  width: 100%;
  height: 100%;
}
.intro__round-text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
  transform: translate(-50%, -50%);
}
.intro.animated .intro__title-inner {
  transform: translateY(0%);
}
.intro.animated .intro__round-text {
  opacity: 1;
  transform: translate(50%, 50%) rotate(267deg);
}
.intro.animated .intro__text-inner {
  transform: translateY(0%);
}
.intro.animated .intro__img {
  height: 600px;
}
.intro.animated .intro__img-wrap img {
  transform: scale(1);
}

.r-text {
  transition-delay: 2.3s;
}
.r-text__title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Lovelace", serif;
  min-height: 140px;
  width: 140px;
  height: 140px;
}
.r-text__title i {
  height: 70px;
  position: absolute;
  transform-origin: center bottom 0px;
}
.r-text__shape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
  transform: translate(-50%, -50%);
}

.lose {
  padding-top: 115px;
  padding-bottom: 115px;
}
.lose__wrap {
  position: relative;
  min-height: 300px;
}
.lose__img {
  width: 300px;
  height: 300px;
  transition: 2s;
  height: 0;
  overflow: hidden;
}
.lose__img-wrap {
  width: 300px;
  height: 300px;
}
.lose__title {
  opacity: 0;
  top: 115px;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 865px;
  margin-left: -435px;
  overflow: hidden;
  transition: 2s;
}
.lose.animated .lose__img {
  height: 300px;
}
.lose.animated .lose__title {
  opacity: 1;
}

.services {
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
.services.--other {
  display: none;
}
.services__list {
  position: relative;
  cursor: col-resize !important;
}
.services__list * {
  cursor: col-resize !important;
}
.services__hidden {
  display: none;
}
.services__item {
  border-top: 1px solid #E6E6E6;
}
.services__more-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 105px;
  padding-bottom: 105px;
}
.services__more-wrap.--hidden {
  display: none;
}

.service {
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 100vh;
  transition: none;
  background-color: #fff;
  transition: 0.3s;
}
.service:nth-of-type(1) {
  opacity: 1;
  position: relative;
}
.service__bg {
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: #121212;
}
.service__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: none;
}
.service__wrap {
  display: flex;
  position: relative;
}
.service__wrap:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  width: 500px;
  height: 500px;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  cursor: col-resize !important;
  transform: translateX(-50%);
}
.service__content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  width: 100%;
  padding-right: 20px;
}
.service__title {
  margin-bottom: 20px;
}
.service__title.--maxw {
  width: 100%;
  max-width: 300px;
}
.service__text {
  width: 100%;
  max-width: 300px;
}
.service__text p {
  margin-bottom: 20px;
}
.service__text p:last-of-type {
  margin-bottom: 0;
}
.service__img {
  width: 600px;
  min-width: 600px;
  height: 600px;
}
.service__img img {
  filter: grayscale(100%);
}
.service__img.--hidden {
  display: none;
}
.service__desc {
  max-width: 280px;
  margin-left: auto;
}
.service__desc.--mt {
  margin-top: auto;
}
.service.--reverse .service__img {
  order: 1;
}
.service.--reverse .service__content {
  order: 2;
  padding-right: 0;
  padding-left: 20px;
}
.service.--reverse .service__title {
  text-align: right;
  margin-left: auto;
}
.service.--reverse .service__title.--maxw {
  text-align: left;
}
.service.--reverse .service__text {
  margin-left: auto;
}
.service.--reverse .service__desc {
  margin-left: 0;
}

.club-name {
  z-index: 3;
  position: relative;
  padding-top: 80px;
  transition: 2s;
}
.club-name__title {
  color: #2B2B2B;
  white-space: nowrap;
  animation: inifiniteLine 10s infinite linear;
  min-width: 2335px;
}
.club-name__title:before, .club-name__title:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2B2B2B;
  position: relative;
  top: -22px;
}
.club-name__title:before {
  margin-right: 20px;
}
.club-name__title:after {
  margin-left: 20px;
}

@keyframes inifiniteLine {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
  }
}
.invite {
  z-index: 4;
  position: relative;
  padding-top: 70px;
}
.invite__wrap {
  display: flex;
  position: relative;
}
.invite__wrap:before {
  position: absolute;
  content: "";
  top: 160px;
  left: 0;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
}
.invite__content {
  z-index: 2;
  position: relative;
  width: 715px;
  margin-left: auto;
  margin-right: -255px;
}
.invite__title {
  line-height: 1.2;
}
.invite__text {
  max-width: 300px;
  margin-top: 40px;
}
.invite__img {
  width: 600px;
  height: 750px;
  margin-top: 113px;
}

.about {
  padding-top: 100px;
  padding-bottom: 200px;
}
.about__title {
  margin-bottom: 192px;
}
.about__list {
  display: flex;
}
.about__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  border-radius: 50%;
}
.about__item:nth-of-type(1) {
  margin-right: -80px;
}
.about__item:nth-of-type(1) .about__shape svg {
  animation: rotateRight 8s infinite linear;
}
.about__item:nth-of-type(2) .about__shape {
  transform: translate(-50%, -50%) rotate(220deg);
}
.about__item:nth-of-type(2) .about__shape svg {
  animation: rotateRight 8s 1s infinite linear;
}
.about__text {
  width: 100%;
  line-height: 1.2;
  max-width: 340px;
  text-align: center;
}
.about__shape {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 480px;
  height: 480px;
  font-size: 24px;
  font-family: "Lovelace", serif;
  letter-spacing: 3px;
  transform: translate(-50%, -50%) rotate(0deg);
}
.about__shape svg {
  width: 100%;
  height: 100%;
}
.about__shape svg path {
  stroke: none;
}
.about__shape:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
  transform: translate(-50%, -50%);
}

.thanks {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}
.thanks__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thanks__desc, .thanks__title, .thanks__text-top, .thanks__text-bot {
  z-index: 1;
  position: relative;
}
.thanks__desc {
  margin-bottom: 20px;
}
.thanks__title {
  font-size: 48px;
  line-height: 1.23;
  margin-bottom: 40px;
}
.thanks__btn {
  margin-top: 95px;
  margin-bottom: 95px;
}
.thanks__btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #E6E6E6;
}
.thanks__text-top {
  max-width: 415px;
}
.thanks__text-bot {
  max-width: 330px;
}

.footer {
  color: #fff;
  overflow: hidden;
}
.footer.--pt {
  background: #fff;
  padding-top: 70px;
  margin-top: auto;
  color: #121212;
}
.footer.--pt a {
  color: #121212;
}
.footer.--pt a:hover {
  color: #2c2c2c;
}
.footer.--pt .footer__bot-wrap {
  border-color: #121212;
}
.footer * {
  transition: 0.1s;
}
.footer a {
  color: #fff;
  transition: 1s;
}
.footer__body {
  align-items: flex-start;
  padding-bottom: 64px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: auto;
}
.footer__col {
  max-width: 180px;
}
.footer__title {
  line-height: 20px;
  font-family: "Lovelace", serif;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 37px;
}
.footer__title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 1px;
  background-color: #fff;
  margin-right: 17px;
}
.footer__text {
  line-height: 14px;
}
.footer__text p {
  margin-bottom: 20px;
}
.footer__text p:last-of-type {
  margin-bottom: 0;
}
.footer__bot-wrap {
  border-top: 1px solid #fff;
}
.footer__bot {
  display: flex;
  padding-top: 19px;
  padding-bottom: 22px;
  text-transform: capitalize;
}
.footer__links {
  width: 600px;
  margin-left: auto;
}
.footer__links ul {
  justify-content: space-between;
}
.footer__links a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.footer__links.--hidden {
  display: none;
}

.win {
  position: relative;
}
.win__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 220px;
  padding-bottom: 295px;
}
.win__title {
  z-index: 2;
  position: relative;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}
.win__text {
  z-index: 2;
  position: relative;
  text-align: center;
  max-width: 600px;
  margin-bottom: 115px;
}
.win__shape {
  position: absolute;
  border-radius: 50%;
  transition: 1s;
}
.win__shape:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #2B2B2B;
}
.win__shape:nth-of-type(1) {
  top: 71px;
  left: -675px;
  width: 1175px;
  height: 1175px;
}
.win__shape:nth-of-type(2) {
  top: 225px;
  right: -108px;
  width: 700px;
  height: 700px;
}
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.colors-reverse .footer {
  color: #121212;
}
.colors-reverse .footer a {
  color: #121212;
}
.colors-reverse .footer__logo .logo__icon path {
  fill: #121212;
  transition: 1s;
}
.colors-reverse .footer__bot-wrap {
  border-color: #E6E6E6;
}
.colors-reverse .footer__title:before {
  background-color: #121212;
}
.colors-reverse .win__shape {
  border-color: #E6E6E6;
}